<script type="text/javascript" src="/controllers/clickController.client.js"></script>

<h2 class="page-header">Poll: <b><i>{{poll.title}}</i></b> created by {{poll.creator}}</h2>

<div id="poll-chart"></div>

{{#each poll.choices}}
  <button class="btn-primary vote-button" value="?creator={{@root.poll.creator}}&poll={{@root.poll.title}}&vote={{@index}}&user={{@root.user.name}}">{{this.name}} = {{this.votes}} votes</button>
{{/each}}


<!-- Chart Resources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="../../js/scripts.js"></script>
